@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-2row {
    display: grid;
    grid-row: span 2 / span 2;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin: 10px 0;
    padding: 0;
}


.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to dragonage sheets */
.dragonage .item-form {
  font-family: "Roboto", sans-serif;
}

.dragonage .sheet-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.dragonage .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.dragonage .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dragonage .sheet-header h1.charname {
  height: 40px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.dragonage .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.dragonage .sheet-header .header-exp {
    margin-right: 3px;
    height: 35px;
    justify-content: flex-start;
    text-align: left;
}

.dragonage .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.dragonage .sheet-body,
.dragonage .sheet-body .tab,
.dragonage .sheet-body .tab .editor {
  height: 100%;
}

.dragonage .tox .tox-editor-container {
  background: #fff;
}

.dragonage .tox .tox-edit-area {
  padding: 0 8px;
}

.dragonage .xp-label {
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

.dragonage .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.dragonage .tabs {
  height: 40px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.dragonage .abilities {
    width: 30%;
    float: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    text-align: left;
    padding: 5px;
    border: 1px solid #999;
    grid-row-start: 1;
    grid-row-end: 1;
}

.dragonage .focusList {
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 15px;
    margin: 2px 0;
}

.dragonage .talentsFeatures {
    width: 68%;
    float: right;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 5px;
    padding: 5px;
    grid-row-start: 1;
    grid-row-end: 1;
}

.dragonage .description {
    width: 48%;
    float: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 5px;
    padding: 5px;
    grid-row-start: 1;
    grid-row-end: 1;
}

.dragonage .bio {
    width: 48%;
    float: right;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 5px;
    padding: 5px;
    grid-row-start: 1;
    grid-row-end: 1;
}

.dragonage .characterContainer {
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}


.dragonage .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.dragonage .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.dragonage .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.dragonage .items-list .item-header {
  font-weight: bold;
}

.dragonage .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.dragonage .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.dragonage .items-list .item img {
  display: block;
}

.dragonage .items-list .item-name {
  margin: 0;
}

.dragonage .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}

.dice-roll .die {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #85bbdc;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
}

.dice-roll .die.drama {
    background-color: #0b77ba;
    color: white;
}

.dice-roll .item-description {
    text-align: left;
    text-indent: 5px;
    white-space: normal;
}

.dice-roll .chat-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #80725c;
    border: 1px solid black;
    border-radius: 2px;
}
