<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            {{!-- Threat Level --}}
            <div class="header-exp flexrow">
                <div class="resource">
                    <label for="data.threatLevel" class="xp-label">Threat Level</label>
                    <input type="text" name="data.threatLevel" value="{{data.threatLevel}}" data-dtype="Number" />
                </div>
            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="abilities">NPC</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="description">Bio</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Abilities Tab --}}
        <div class="tab" data-group="primary" data-tab="abilities">

            <div>
                {{!-- Health and Mana --}}
                <div class="resources grid grid-2col">
                    <div class="resource flex-group-center">
                        <label for="data.health.value" class="resource-label">Health</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" />
                            <span> / </span>
                            <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="data.mana.value" class="resource-label">Mana</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input type="text" name="data.mana.value" value="{{data.mana.value}}" data-dtype="Number" />
                            <span> / </span>
                            <input type="text" name="data.mana.max" value="{{data.mana.max}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
                {{!-- Combat details --}}
                <div class="resources flex-group-center grid grid-4col">
                    <div class="resource flex-center">
                        <label for="data.speed" class="resource-label">Speed</label>
                        <input type="text" name="data.speed" value="{{data.speed}}" data-dtype="Number" />
                    </div>
                    <div class="resource flex-center">
                        <label for="data.defense" class="resource-label">Defense</label>
                        <input type="text" name="data.defense" value="{{data.defense}}" data-dtype="Number" />
                    </div>
                    <div class="resource flex-center">
                        <label for="data.armor" class="resource-label">Armor</label>
                        <input type="text" name="data.armor" value="{{data.armor}}" data-dtype="Number" />
                    </div>
                </div>
                {{!-- Weapon Groups --}}
                <div class="resource flex-left">
                    <label for="data.weaponGroups" class="resource-label">Weapon Groups</label>
                    <textarea style="height: 50px;overflow:scroll" name="data.weaponGroups" value="{{data.weaponGroups}}" data-dtype="String"></textarea>
                </div>
                {{!-- Favored Stunts --}}
                <div class="resource flex-left">
                    <label for="data.favoredStunts" class="resource-label">Favored Stunts</label>
                    <textarea style="height: 50px;overflow:scroll" name="data.favoredStuntss" value="{{data.favoredStunts}}" data-dtype="String"></textarea>
                </div>
            </div>




            <div display="grid" style="grid-gap: 10px">
                {{!-- Abilities --}}
                <div class="abilities grid">
                    {{#each data.abilities as |ability key|}}
                    <div class="ability flex-group-left" style="align-content: flex-start">
                        <input type="text" name="data.abilities.{{key}}.value" style="width: 20px" value="{{ability.value}}" data-dtype="Number" />
                        <label for="data.abilities.{{key}}.value" class="resource-label rollable" data-type="ability" data-ability="{{key}}" data-item="null">{{ability.label}}</label>
                    </div>
                    {{/each}}
                </div>
                <span />
                <div class="talentsFeatures">
                    {{!-- Talents, Features, and Focuses --}}
                    {{!-- Focus list --}}
                    <div class="flex-group-center">
                        <label class="resource-label">Focuses</label>
                        <ol class="items-list flex-group-left" style="height: 160px; overflow: scroll">
                            <li class="item flexrow item-header">
                                <div class="item-image"></div>
                                <div class="item-name">Name</div>
                                <div class="item-name">Improved</div>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create item" data-type="focus"><i class="fas fa-plus"></i> Add </a>
                                </div>
                            </li>
                            {{#each actor.focuses as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                <h4 class="item-name rollable" data-type="focus" data-ability="{{item.data.defaultAbility}}" data-item="{{item.name}}">{{item.name}} ({{toUpperCase item.data.defaultAbility}})</h4>
                                {{#if item.data.improved}}
                                <i class="fas fa-check-circle"></i>
                                {{/if}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                    {{!-- Features --}}
                    <div class="flex-group-center">
                        <label class="resource-label">Features</label>
                        <ol class="items-list flex-group-left" style="height: 160px; overflow: scroll">
                            <li class="item flexrow item-header">
                                <div class="item-image"></div>
                                <div class="item-name">Name</div>
                                <div class="item-name">Source</div>
                                <div class="item-controls">
                                    <a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i> Add </a>
                                </div>
                            </li>
                            {{#each actor.features as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                                <h4 class="item-name rollable" data-type="itemCard" data-item="{{item.name}}">{{item.name}}</h4>
                                <h4 class="item-name">{{item.data.source}}</h4>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>


        </div>



        {{!-- Equipment Tab --}}
        <div class="tab" data-group="primary" data-tab="equipment" style="overflow: scroll">
            {{!-- Weapons --}}
            <div class="flex-group-left">
                <label class="resource-label">Weapons</label>
                <ol class="items-list flex-group-left" style="height: 140px; overflow: scroll">
                    <li class="item flexrow item-header">
                        <div class="item-image"></div>
                        <div class="item-name">Name</div>
                        <div class="item-name">Prof</div>
                        <div class="item-name">Damage</div>
                        <div class="item-name">Range</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Add </a>
                        </div>
                    </li>
                    {{#each actor.weapons as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name rollable" data-type="weapon" data-ability="{{item.data.defaultAbility}}" data-item="{{item.name}}">{{item.name}}</h4>
                        <h4 class="item-name">
                            {{#if item.data.improvedFocus}}
                            Improved Focus
                            {{else}}
                            {{#if item.data.hasFocus}}
                            Focus
                            {{else}}
                            {{#if item.data.hasGroup}}
                            Trained
                            {{else}}
                            Untrained
                            {{/if}}
                            {{/if}}
                            {{/if}}
                        </h4>
                        <h4 class="item-name rollable" data-type="basic" data-label="{{item.name}} Damage"
                            data-roll="{{item.data.damage}}{{#if item.data.hasGroup}}{{else}} / 2{{/if}}">
                            [{{item.data.damage}}{{#if item.data.hasGroup}}{{else}} / 2{{/if}}]
                        </h4>
                        <h4 class="item-name">{{#if item.data.isRanged}}({{item.data.shortRange}} / {{item.data.longRange}}){{else}}NA{{/if}}</h4>

                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            {{!-- Armor --}}
            <div class="flex-group-left">
                <label class="resource-label">Armor</label>
                <ol class="items-list flex-group-left" style="height: 80px; overflow: scroll">
                    <li class="item flexrow item-header">
                        <div class="item-image"></div>
                        <div class="item-name">Name</div>
                        <div class="item-name">Armor Rating</div>
                        <div class="item-name">Penalty</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i> Add </a>
                        </div>
                    </li>
                    {{#each actor.armor as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name">{{item.name}}</h4>
                        <h4 class="item-name">({{item.data.armorRating}})</h4>
                        <h4 class="item-name">({{item.data.armorPenalty}})</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            {{!-- Shields --}}
            <div class="flex-group-left">
                <label class="resource-label">Shields</label>
                <ol class="items-list flex-group-left" style="height: 80px; overflow: scroll">
                    <li class="item flexrow item-header">
                        <div class="item-image"></div>
                        <div class="item-name">Name</div>
                        <div class="item-name">Shield Bonus</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="shield"><i class="fas fa-plus"></i> Add </a>
                        </div>
                    </li>
                    {{#each actor.shields as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name">{{item.name}}</h4>
                        <h4 class="item-name">({{item.data.defenseBonus}})</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Spells Tab --}}
        <div class="tab" data-group="primary" data-tab="spells">
            <div class="flex-group-left">
                <label class="resource-label">Spells</label>
                <ol class="items-list flex-group-left" style="height: 300px; overflow: scroll">
                    <li class="item flexrow item-header">
                        <div class="item-image"></div>
                        <div class="item-name">Name</div>
                        <div class="item-name">Cost</div>
                        <div class="item-name">TN</div>
                        <div class="item-name">Effect Roll</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="spell"><i class="fas fa-plus"></i> Add </a>
                        </div>
                    </li>
                    {{#each actor.spells as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
                        <h4 class="item-name rollable" data-type="spell" data-ability="magi" data-item="{{item.name}}">{{item.name}}</h4>
                        <h4 class="item-name">{{item.data.manacost}}</h4>
                        <h4 class="item-name">{{item.data.targetnumber}}</h4>
                        {{#if item.data.hasRoll}}
                        <h4 class="item-name rollable" data-type="basic" data-label="{{item.name}}"
                            data-roll="{{item.data.roll}}">
                            [{{item.data.roll}}]
                        </h4>
                        {{else}}
                        <h4 class="item-name">NA</h4>
                        {{/if}}

                        <div class="item-controls">
                            <a class="item-control rollable" data-type="itemCard" data-item="{{item.name}}"><i class="fas fa-scroll"></i></a>
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>



    </section>
</form>

