<div class="dice-roll">
    <h3>{{name}}</h3>
    <div class="dice-formula item-description">
        <span class="item-description">{{editor content=item.data.data.description target="item.data.data.description" button=false owner=owner}}</span>
    </div>
</div>