<div class="dice-roll">
    <h3>{{name}}</h3>
    <div class="dice-formula">
        {{#compare rank "==" "Novice"}}
            <span class="item-description">{{editor content=item.data.data.novice target="item.data.data.novice" button=false owner=owner}}</span>
        {{/compare}}
        {{#compare rank "==" "Journeyman"}}
            <span class="item-description">{{editor content=item.data.data.journeyman target="item.data.data.journeyman" button=false owner=owner}}</span>
        {{/compare}}
        {{#compare rank "==" "Master"}}
            <span class="item-description">{{editor content=item.data.data.master target="item.data.data.master" button=false owner=owner}}</span>
        {{/compare}}
    </div>
</div>