<div class="dice-roll">
    <h3>{{name}}</h3>
    <div class="dice-result">
        <div class="dice-formula">
            {{#compare rolls.d0 "==" 1}}
                <span class="die drama" style="background-color: red">{{rolls.d0}}</span>
            {{else}}
                {{#compare rolls.d0 "==" 10}}
                    <span class="die drama" style="background-color: green">{{rolls.d0}}</span>
                {{else}}
                    <span class="die drama">{{rolls.d0}}</span>
                {{/compare}}
            {{/compare}}

            {{#compare rolls.d1 "==" 1}}
                <span class="die drama" style="background-color: red">{{rolls.d1}}</span>
            {{else}}
                {{#compare rolls.d1 "==" 10}}
                    <span class="die drama" style="background-color: green">{{rolls.d1}}</span>
                {{else}}
                    <span class="die drama">{{rolls.d1}}</span>
                {{/compare}}
            {{/compare}}

            {{#compare rolls.d2 "==" 1}}
                <span class="die drama" style="background-color: red">{{rolls.d2}}</span>
            {{else}}
                {{#compare rolls.d2 "==" 10}}
                    <span class="die drama" style="background-color: green">{{rolls.d2}}</span>
                {{else}}
                    <span class="die drama">{{rolls.d2}}</span>
                {{/compare}}
            {{/compare}}
            {{#if modifier}}
            <span>{{modifier}}</span>
            {{/if}}
        </div>
        {{#compare stuntPoints ">" 0}}
            <div class="dice-total" style="color: #009612">
                {{total}} ({{stuntPoints}})
            </div>
            {{#compare rolls.d0 "==" rolls.d1}}
                {{#compare rolls.d0 "==" rolls.d2}}
                    <div class="dice-total" style="background-color: green">
                        Triple Stunt!
                    </div>
                {{/compare}}
            {{/compare}}
        {{else}}
            <div class="dice-total">
                {{total}} ({{stuntPoints}})
            </div>
        {{/compare}}


    </div>
</div>
