<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="resource flex-left">
                <label for="data.rank" class="resource-label">Rank</label>
                <select class="dropdown" name="data.rank" data-dtype="String">
                    {{#select data.rank}}
                    <option value="Novice">Novice</option>
                    <option value="Journeyman">Journeyman</option>
                    <option value="Master">Master</option>
                    {{/select}}
                </select>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="novice">Novice</a>
        <a class="item" data-tab="journeyman">Journeyman</a>
        <a class="item" data-tab="master">Master</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        <div class="tab" data-group="primary" data-tab="novice">
            {{editor content=data.novice target="data.novice" button=true owner=owner editable=editable}}
        </div>

        <div class="tab" data-group="primary" data-tab="journeyman">
            {{editor content=data.journeyman target="data.journeyman" button=true owner=owner editable=editable}}
        </div>

        <div class="tab" data-group="primary" data-tab="master">
            {{editor content=data.master target="data.master" button=true owner=owner editable=editable}}
        </div>

        
    </section>
</form>
