<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Spell Properties</a>
        <a class="item" data-tab="caster">Caster Properties</a>
        <a class="item" data-tab="description">Spell Effect</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary" data-tab="properties">
            {{!-- Spell Info --}}
            <div class="resources flex-group-center grid grid-4col">
                <div class="resource flex-center">
                    <label for="data.school" class="resource-label">School/Type</label>
                    <select class="dropdown" name="data.school" data-dtype="String">
                        {{#select data.school}}
                        <option value="blood">Blood</option>
                        <option value="creation">Creation</option>
                        <option value="entropy">Entropy</option>
                        <option value="primal">Primal</option>
                        <option value="Spirit">Spirit</option>
                        <option value="other">Other</option>
                        {{/select}}
                    </select>
                    <span> / </span>
                    <select class="dropdown" name="data.type" data-dtype="String">
                        {{#select data.type}}
                        <option value="attack">Attack</option>
                        <option value="defense">Defense</option>
                        <option value="enhancemnet">Enhancemne</option>
                        <option value="utility">Utility</option>
                        {{/select}}
                    </select>
                </div>
                <div class="resource flex-center">
                    <label for="data.manacost" class="resource-label">Mana Cost</label>
                    <input type="text" name="data.manacost" value="{{data.manacost}}" data-dtype="Number" />
                </div>
                <div class="resource flex-center">
                    <label for="data.targetnumber" class="resource-label">TN</label>
                    <input type="text" name="data.targetnumber" value="{{data.targetnumber}}" data-dtype="Number" />
                </div>
                <div class="resource flex-center">
                    <label for="data.time" class="resource-label">Casting Time</label>
                    <input type="text" name="data.time" value="{{data.time}}" data-dtype="String" />
                </div>
            </div>
            <div class="resources flex-group-left">
                <div class="resource flex-left">
                    <label for="data.target" class="resource-label">Target</label>
                    <input type="text" name="data.target" value="{{data.target}}" data-dtype="String" />
                </div>
            </div>

            <div class="resources flex-group-left grid-2col">
                <div class="resource flex-left">
                    <label for="data.resistance.ability" class="resource-label">Test</label>
                    (<select class="dropdown" name="data.resistance.ability" data-dtype="String">
                        {{#select data.resistance.ability}}
                        <option value="comm">Communication</option>
                        <option value="cons">Constitution</option>
                        <option value="cunn">Cunning</option>
                        <option value="dext">Dexterity</option>
                        <option value="magi">Magic</option>
                        <option value="perc">Perception</option>
                        <option value="stre">Strength</option>
                        <option value="will">Willpower</option>
                        {{/select}}
                    </select>)
                </div>
                <div class="resource flex-left">
                    <input type="text" name="data.resistance.focus" value="{{data.resistance.focus}}" data-dtype="String" />
                </div>

            </div>
            <div class="resources flex-group-left">
                <div class="resource flex-left">
                    <label for="data.requirement" class="resource-label">Requirement</label>
                    <input type="text" name="data.requirement" value="{{data.requirement}}" data-dtype="String" />
                </div>
            </div>


            {{!-- Roll Info --}}
            <div class="resources flex-group-center grid grid-2col">
                <div class="resource flex-center">
                    <label for="data.hasRoll" class="resource-label">Has Roll?</label>
                    <input type="checkbox" name="data.hasRoll" {{checked item.data.hasRoll}} data-dtype="Boolean" />
                </div>
                {{#if data.hasRoll}}
                <div class="resource flex-center">
                    <label for="data.roll" class="resource-label">Roll</label>
                    <input type="text" name="data.roll" value="{{data.roll}}" data-dtype="String" />
                </div>
                {{/if}}
            </div>

        </div>

        <div class="tab" data-group="primary" data-tab="caster">
            {{!-- Caster Info --}}
            <div class="resources flex-group-center grid grid-3col">
                <div class="resource flex-center">
                    <label for="data.spellpower" class="resource-label">Spellpower</label>
                    <input type="text" name="data.spellpower" value="{{data.spellpower}}" data-dtype="Number" />
                </div>
                <div class="resource flex-center">
                    <label for="data.hasFocus" class="resource-label">Focus?</label>
                    <input type="checkbox" name="data.hasFocus" {{checked item.data.hasFocus}} data-dtype="Boolean" />
                </div>
                {{#if data.hasFocus}}
                <div class="resource flex-center">
                    <label for="data.improvedFocus" class="resource-label">Improved?</label>
                    <input type="checkbox" name="data.improvedFocus" {{checked item.data.improvedFocus}} data-dtype="Boolean" />
                </div>
                {{/if}}
            </div>
        </div>


        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
