<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="resources flex-group-center grid grid-4col">
                <div class="resource flex-center">
                    <label for="data.armorRating" class="resource-label">Rating</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.armorRating" value="{{data.armorRating}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="resource flex-center">
                    <label for="data.armorPenalty" class="resource-label">Penalty</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.armorPenalty" value="{{data.armorPenalty}}" data-dtype="Number" />
                    </div>
                </div>
                <div class="resource flex-center">
                    <label for="data.price" class="resource-label">Price</label>
                    <input type="text" name="data.price" value="{{data.price}}" data-dtype="String" />
                </div>
                <div class="resource flex-center">
                    <label for="data.equiped" class="resource-label">equiped</label>
                    <input type="checkbox" name="data.equiped" {{checked item.data.equiped}} data-dtype="Boolean" />
                </div>
            </div>
        </div>
        
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        
    </section>
</form>
