<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="resource flex-left">
                <label for="data.defaultAbility" class="resource-label">Ability</label>
                <select class="dropdown" name="data.defaultAbility" data-dtype="String">
                    {{#select data.defaultAbility}}
                    <option value="comm">Communication</option>
                    <option value="cons">Constitution</option>
                    <option value="cunn">Cunning</option>
                    <option value="dext">Dexterity</option>
                    <option value="magi">Magic</option>
                    <option value="perc">Perception</option>
                    <option value="stre">Strength</option>
                    <option value="will">Willpower</option>
                    {{/select}}
                </select>
            </div>
            <div class="resource flex-left">
                <label for="data.improved" class="resource-label">Improved</label>
                <input type="checkbox" name="data.improved" {{checked item.data.improved}} data-dtype="Boolean"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        
    </section>
</form>
