<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            {{!-- Physical Item Info --}}
            <div class="resources flex-group-center grid grid-3col">
                <div class="resource flex-center">
                    <label for="data.quantity" class="resource-label">Quantity</label>
                    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
                </div>
                <div class="resource flex-center">
                    <label for="data.price" class="resource-label">Price</label>
                    <input type="text" name="data.price" value="{{data.price}}" data-dtype="String" />
                </div>
                <div class="resource flex-center">
                    <label for="data.equiped" class="resource-label">equiped</label>
                    <input type="checkbox" name="data.equiped" {{checked item.data.equiped}} data-dtype="Boolean" />
                </div>
            </div>
            

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Weapon Properties</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Weapon Properties --}}
        <div class="tab" data-group="primary" data-tab="properties">
            {{!-- Main Weapon Info --}}
            <div class="resources flex-group-center grid grid-5col">
                <div class="resource flex-center">
                    <label for="data.group" class="resource-label">Weapon Group</label>
                    <select class="dropdown" name="data.group" data-dtype="String">
                        {{#select data.group}}
                        <option value="axes">Axes</option>
                        <option value="bludgeons">Bludgeons</option>
                        <option value="bows">Bows</option>
                        <option value="brawling">Brawling</option>
                        <option value="dueling">Dueling</option>
                        <option value="heavyblades">Heavy Blades</option>
                        <option value="lances">Lances</option>
                        <option value="lightblades">Light Blades</option>
                        <option value="polearms">Polearms</option>
                        <option value="spears">Spears</option>
                        <option value="staves">Staves</option>
                        <option value="other">Other</option>
                        {{/select}}
                    </select>
                </div>
                <div class="resource flex-center">
                    <label for="data.defaultAbility" class="resource-label">Ability</label>
                    <select class="dropdown" name="data.defaultAbility" data-dtype="String">
                        {{#select data.defaultAbility}}
                        <option value="comm">Communication</option>
                        <option value="cons">Constitution</option>
                        <option value="cunn">Cunning</option>
                        <option value="dext">Dexterity</option>
                        <option value="magi">Magic</option>
                        <option value="perc">Perception</option>
                        <option value="stre">Strength</option>
                        <option value="will">Willpower</option>
                        {{/select}}
                    </select>
                </div>
                <div class="resource flex-center">
                    <label for="data.attackBonus" class="resource-label">Attack Bonus</label>
                    <input type="text" name="data.attackBonus" value="{{data.attackBonus}}" data-dtype="Number" />
                </div>
                <div class="resource flex-center">
                    <label for="data.minStr" class="resource-label">Min Str.</label>
                    <input type="text" name="data.minStr" value="{{data.minStr}}" data-dtype="Number" />
                </div>
                <div class="resource flex-center">
                    <label for="data.isRanged" class="resource-label">Ranged</label>
                    <input type="checkbox"  name="data.isRanged" {{checked item.data.isRanged}} data-dtype="Boolean" />
                </div>
            </div>
            {{!-- Ranged Info --}}
            {{#if data.isRanged}}
            <div class="resources flex-group-center grid grid-2col">
                <div class="resource flex-center">
                    <label for="data.shortRange" class="resource-label">Range</label>
                    <input type="text" name="data.shortRange" value="{{data.shortRange}}" data-dtype="String" />
                    <span> / </span>
                    <input type="text" name="data.longRange" value="{{data.longRange}}" data-dtype="String" />
                </div>
                <div class="resource flex-center">
                    <label for="data.reloadTime" class="resource-label">Reload Time</label>
                    <select class="dropdown" name="data.reloadTime" data-dtype="String">
                        {{#select data.reloadTime}}
                        <option value="minor">Minor action</option>
                        <option value="major">Major action</option>
                        {{/select}}
                    </select>
                </div>

            </div>
            {{/if}}

            {{!-- Main Training Info --}}
            <div class="resources flex-group-center grid grid-3col">
                <div class="resource flex-center">
                    <label for="data.hasGroup" class="resource-label">Trained?</label>
                    <input type="checkbox" name="data.hasGroup" {{checked item.data.hasGroup}} data-dtype="Boolean" />
                </div>
                <div class="resource flex-center">
                    <label for="data.hasFocus" class="resource-label">Focus?</label>
                    <input type="checkbox" name="data.hasFocus" {{checked item.data.hasFocus}} data-dtype="Boolean" />
                </div>
                {{#if data.hasFocus}}
                <div class="resource flex-center">
                    <label for="data.improvedFocus" class="resource-label">Improved?</label>
                    <input type="checkbox" name="data.improvedFocus" {{checked item.data.improvedFocus}} data-dtype="Boolean" />
                </div>
                {{/if}}

            </div>

            <div class="resource flex-left">
                <label for="data.damage" class="resource-label">Damage</label>
                <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="String" />
            </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
